
.ContenedorInicioSesion {
  background: url('../img/ImagenInicioSesion.png') no-repeat center center;
  background-size: cover;
  min-height: 90vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.ColDerechadaInicio{
  
  background-color: #21212186 ;
padding: 10%;
  align-items: center;
  align-content: center;
  
}

.DatosInicioSesion h1{
   text-align: center;
   color:rgb(255, 255, 255);
   font-size: 200%;
   text-shadow: -0.3px -0.3px 0.3px white, 0.3px 0.3px 0.3px white, 
   -0.3px 0.3px 0.3px white, 
   0.3px -0.3px 0.3px white;
   letter-spacing: 5px;
   font-weight: 700;
}

.DatosInicioSesion hr{
  color: white;
  border: 100px;
}
.letraIniciarSesion{
  color: white;
}

.DatosInicioSesion button{
margin-left: 10%;
margin-top: 10%;
padding: 1%;
border-radius: 10px;
width: 45%;
margin-left: 30%;
margin-top: 10%;
}

.botonIniciarSesion{
  background-color: rgba(74, 224, 96, 0.718);
  border: white;
  padding: 1%;
  border-radius: 10px;
  width: 45%;
  transition: transform 0.5s;
}

.botonIniciarSesion:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(40, 156, 40, 0.632);
  transform: scale(1.1);

}

.contenedorDeLetrasInicioSesion h5{
  font-size: 100%;
}


.RecuperarContraInicioSesion h5, a{
  font-size: 100%;
  color: white;
}

.RecuperarContraInicioSesion{
  margin-left: 30%;
}

.preguntaInicioSesion{
  color: white;
margin-left: 30%;
}
.preguntaInicioSesion a{
margin-right: 1;
}

.flechaRegresoRegistrar{
  font-size: 200%;
  position: relative;
  margin-left: 5%;
  color: black;
  margin-bottom: 2000%;
}