.containerInicio{
    background-color: black;
    width: 100%;
    padding: 1%;
}
.componenteCardsEstilo{
text-decoration: none;
transition: transform 0.6;
}
.componenteCardsEstilo:hover{
    transform: scale(1.1);
}